{
  "title": "",
  "description": "jen, a static site generator"
}
---
<div class='section'>
  <div class='q'>
    <h3>wtf?</h3>
  </div>
  <div class='a'>
    <p>indeed, bbq</p>
    <p>indeed, i say</p>
  </div>
</div>

<div class='section'>
  <div class='q'>
    <h3>wtf?</h3>
  </div>
  <div class='a'>
    <p>indeed, bbq</p>
    <p>indeed, i say</p>
  </div>
</div>
